
[menu] {
	display: inline-block;
	margin-right: 3px;
	color : #626262;
	font-weight: bold;
	line-height: 30px;
	font-family: sans-serif;
	font-size: 13px;
	position: relative;
}

[menu]:hover{
	cursor: pointer;
}

strip > div {
	width: 100%;
	height : 30px;
	background: #eee4d1;
}

.button {
	line-height: 30px;
	display: inline;
	min-width: 30px;
	background: #981937;
	color:white;
	font-family: sans-serif;
	padding-left: 5px;
	padding-right: 5px;
}

.edit-button{
	background: #981937;
	height: 10px;
	width: 10px;
	border-radius: 10px;
	float: right;
}

.mega-menu-edit{
	background: white;
	position: absolute;
	width : 350px;
	top : 135%;
	border: 3px solid white;
	background: #981937;
	color : white;
	z-index: 1000;
}

.mega-menu-edit input {
	width: 80%;
}

.padding-10 {
	padding-left : 10px;
}

.submenu {
	width: 94%;
	position: fixed;
	left: 3%;
	margin-top: 20px;
	background: #eee4d1;
	padding: 10px;
}

.subsubmenu{
	width: 15%;
	float : left;
	position: relative;
	min-height: 500px;
}

.subsubmenu:hover{
	cursor: pointer;
}

.subsubmenu .mega-menu-edit{
	top : 100%;
	border: 0px;
}

.menu-selected {
	background: #981937;
	color : white;
}

.container { 
	position: relative;
 }

 .new-item{
 	    background: #981937;
    color: #fff;
    padding: 0 3px 1px;
    font-size: 12px;
    margin-left: 5px;
    position: relative;
    font-weight: 900;
 }

 .delete-button { 
 	color : black;
 	background:  #eee4d1;
 	margin-left: 20px;
 }

 .download-button{
 	margin: auto;
 }

 .download-button:hover{
 	cursor: pointer;
 }