<div class="container">
	<div ng-class="menu.show ? 'menu-selected' : ''">
		<div ng-click="menuSelected($index)" title="{{menu.href}}">
			&nbsp;&nbsp;&nbsp;{{menu.name}}&nbsp;&nbsp;&nbsp;
		</div>
		<div class="edit-button" ng-click="menu.showEdit=!menu.showEdit"></div>
	</div>
	<div ng-if="menu.showEdit" class="mega-menu-edit">
		<div class="padding-10">
			Title : <input type="text" ng-model="menu.name">
		</div>
		<div class="padding-10">
			Href  : <input ng-model="menu.href">
		</div>
		<div>
			<div class="button delete-button" ng-click="deleteMenu($index)">
				&nbsp;Delete&nbsp;
			</div>
			<a href="{{menu.href}}" target="_blank">
				<div class="button delete-button">
					&nbsp;Visit Link&nbsp;
				</div>
			</a>
		</div>
	</div>
	<div ng-show="menu.show" class="submenu">
		<div class="button" ng-click="addSubMenu(menu.data)"> +Add Category </div>
		<div ng-repeat="submenu in menu.data" submenu></div>
	</div>
</div>