<div class="subsubmenu container">
	<div class="container">
		<div ng-click="submenu.showEdit=!submenu.showEdit" title="{{submenu.href}}">
			{{submenu.name}}
		</div>
		<div ng-if="submenu.showEdit" class="mega-menu-edit">
			<div class="padding-10">
				Title : <input type="text" ng-model="submenu.name">
			</div>
			<div class="padding-10">
				Href  : <input ng-model="submenu.href">
			</div>
			<div>
				<div class="button delete-button" ng-click="deleteSubMenu($index)">
					&nbsp;Delete&nbsp;
				</div>
				<a href="{{submenu.href}}" target="_blank">
					<div class="button delete-button">
						&nbsp;Visit Link&nbsp;
					</div>
				</a>
			</div>
		</div>
	</div>
	<ul>
	<li ng-repeat="subsubmenu in submenu.data" submenu-itemlist></li>
	<div class="button" ng-click="addSubSubMenu(submenu.data)"> +Add Item </div>
	</ul>
	
</div>